<h1>Listing apps</h1>
 
<table>
  <tr>
    <th>App</th>
  </tr>
 
  <% @apps.each do |app| %>
    <tr>
      <td><%= app.name %></td>
      <td><%= link_to 'Show', app_path(app) %></td>
      <td><%= link_to 'Edit', edit_app_path(app) %></td>
      <td><%= link_to 'Destroy', app_path(app), method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New app', new_app_path %>