<!DOCTYPE html>
<html>
<head>
  <title>visit_check</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>Visit Check app</header>
<%= yield %>	
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", log_out_path %>
<% else %>
  <%= link_to "Sign Up", sign_up_path %> or
  <%= link_to "Log In", log_in_path %>
<% end %>
    <% flash.each do |key, value| %>
      <div class="<%= key %>"><%= value %></div>
    <% end %>
</body>
</html>
